
.logo{
    color: whitesmoke;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
	text-align: left;
}
body {
    margin: 20px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: yellowgreen;
}
p {
    background-color: #00ffcb; 
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    }
    
    /*Styling .questions*/
    .Questions {
    background-color: #00ffcb; 
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    }
    
    /*Styling header*/
    h1 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px #ff0083;
    }
    
    /*Styling buttons*/
    #startbutton {
      font-family: 'Poppins', sans-serif;
      background-color: #ff0083;
      border: none;
      color: white;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    
    /*Styling images*/
    #thinker {
    padding-top: 20px;
    height: 300px;
    }
    
    /*Styling Questions*/
    .Questions{
    visibility: hidden;
    }
    
    /*Styling Answers*/
    .Answers {
      font-family: 'Poppins', sans-serif;
      background-color: white;
      border: none;
      color: #ff0083;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 5px;
      visibility: hidden;
    }
    
    .Answers:hover {
    background-color: #ff0083;
    color: white;
    }
    
    .Answers:focus {
      background-color: #ff0083;
      color: white;
    }
    
    /*Scores*/
    #preScore {
      visibility: hidden;
    }
    
    #theScore {
      visibility: hidden;
    }
    /*HAMBURGER MENU CSS*/
    .checkbox-container {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
    background: #182825;
    }
    
    .checkbox-trigger {
    opacity: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    cursor: pointer;
    z-index: 5;
    }
    
    .hamburger-menu,
    .hamburger-menu::before,
    .hamburger-menu::after {
    display: block;
    position: absolute;
    background: white;
    width: 40px;
    height: 4px;
    margin: 1.3em 3em;
    transition: background 0.3s;
    }
    
    .hamburger-menu::before,
    .hamburger-menu::after {
    content: '';
    position: absolute;
    margin: -0.7em 0 0;
    }
    
    .hamburger-menu::after {
    margin-top: 0.7em;
    }
    
    .hamburger-menu {
    position: relative;
    display: block;
    margin: 0;
    margin-top: 1.45em;
    margin-right: 0.35em;
    margin-left: 0.35em;
    margin-bottom: 1.45em;
    }
    
    .checkbox-trigger:checked {
    left: 152px;
    }
    
    .checkbox-trigger:checked + .menu-content ul {
    width: 150px;
    height: 150px;
    ;
    transition: width 0.7s ease 0.3s, height 0.3s ease;
    }
    
    .menu-content {
    display: flex;
    background: #00ffcb;
    color: black;
    float: left;
    }
    
    .menu-content ul {
    display: block;
    padding-left: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    width: 0px;
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease 0.7s, width 0.7s ease;
    }
    
    .menu-content ul li {
    list-style: none;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
    text-align: center;
    font-family: Helvetica;
    transition: color 0.5s, background 0.5s;
    }
    
    .menu-content ul li a {
    color: #FF0083;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 80px;
    }
    
    .menu-content ul li a:hover {
    color: white;
    background: black;
    }
    
    .menu-content ul li:hover {
    color: white;
    background: black;
    }
    /*END OF HAMBURGER MENU CSS*/
    img{
      width: 250px;
	  height: 250px;
	  align-self: left;
	  font-size: 62.5%;

}

body {

  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #ddd;
  background-color: #292b2b;
  text-align: center;
}



h1 {

  font-size: 100px;
  line-height: 1;
  margin: 0 auto;
  font-family: 'Yesteryear', cursive, serif;
  color: #e8d639;
  text-shadow: 3px 5px 2px #1f1f1f;
  margin-top: 150px;
  text-align: center;

}

header p {

  font-size: 14px;
  margin: 18px 20px 0 20px;
  line-height: 1.5;
  color: #848484;
  border-bottom: 1px solid #464646;
  display: inline-block;

}

main {

  position: absolute;
  left: 50%;
  top: 50%;
  width: 470px;
  height: 60px;
  margin: -30px 0 0 -235px;
  border-radius: 4px;

}

.form {

  box-shadow: 2px 4px 2px #1f1f1f;
  position: relative;
  border-radius: 4px;

}


.jCaptcha {

  padding: 20px 25px 20px 20px;
  font-size: 15px;
  width: 320px;
  height: 60px;
  box-sizing: border-box;
  outline: none;
  border-radius: 4px 0 0 4px;
  border: none;
  vertical-align: middle;
  transition: all 150ms linear;
  box-shadow: 0 0 8px #4e4706;

}


.button {

  padding: 21px 0;
  width: 150px;
  height: 60px;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: bold;
  background: #e8d639;
  cursor: pointer;
  border: none;
  color: #292b2b;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  margin-left: -4px;
  letter-spacing: 0.5px;
  transition: all 150ms linear;
  box-shadow: 0 0 8px #4e4706;
  outline: none;

}

.button:hover,
.button:focus {

  background: #e8d20b;

}

.codeBtn {

  display: inline-block;
  margin: 15px auto 0 auto;
  color: #ddd;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;

}

.btnWrap {

  bottom: 50px;
  left: 0;
  right: 0;
  position: absolute;

}



@media screen and (max-width: 540px) {

  h1 {

	font-size: 60px;

  }

  header p {

	padding-bottom: 7px;

  }

  main {

	position: static;
	left: auto;
	top: auto;
	width: 280px;
	margin: 100px auto 100px auto;
	height: auto;

  }

  .jCaptcha {

	width: 180px;
	height: 50px;
	padding: 15px 20px 15px 15px;

  }

  .btnWrap {

	position: static;
	left: auto;
	right: auto;
	bottom: auto;
	padding-bottom: 50px;

  }

  .button {

	width: 100px;
	height: 50px;
	padding: 16px 0;

  }

}

