html {

    font-size: 62.5%;
  
  }
  
  html,
  body {
  
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #ddd;
    background-color: #292b2b;
    text-align: center;
  }
  
  
  
  h1 {
  
    font-size: 100px;
    line-height: 1;
    margin: 0 auto;
    font-family: 'Yesteryear', cursive, serif;
    color: #e8d639;
    text-shadow: 3px 5px 2px #1f1f1f;
    margin-top: 150px;
    text-align: center;
  
  }
  h3{
    color: white;
    font-size: larger;
  }
  
  form {
    position: relative;
    margin: 20px auto;
    width: 300px;
  }
  .hide{
    display: none;
  }
  .submit__input {
    position: relative;
    outline: 0;
    height: 35px;
    width: 35px;
    border-radius: 4px;
    border: 1px solid #42A0DD;
    color: #42A0DD;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    top: -2px;
  }
  span {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    color: blue;
    text-align: center;
    text-transform: lowercase;  
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
  }
  .valid:after,
    .unvalid:after {
      font-family: FontAwesome;
      font-size: 18px;
      margin-left: 10px;
    }
    .submit{
      display: block;
      margin: 50px 0;
      padding: 7px 15px;
      font-weight: bold;
      font-size: 16px;
      color: #fff;
      letter-spacing: 1px;
      text-transform: uppercase;
      outline: none;
      border: 0;
      background-color: #42A0DD;
      background-clip: padding-box;
      border-radius: 3px;
      box-shadow: 0 4px 0 #2C81BA;
      opacity: 1;
      cursor: pointer;
      transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    }
    span.submit__error,
  span.submit__error--empty {
    color: #e74c3c;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
  }
  .submit__input {
    border: 1px solid #2ecc71;
    color: #2ecc71 !important;
  }